* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optmizelegibility;
  }

html {
  font-family: sans-serif;
}

body {
  margin: 40px;
}

.container {
  maring: 0 auto;
  padding-top: 40px;
}


h1 {
  position: absolute;
  left: 310px;
  top: 0;
}


p {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.5rem;
  text-align: justify;
}


